*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar
{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    
    .h6
    {
        font-size: 24px;
    }

    .list
    {
        display: flex;
        gap: 30px;
    }
    .log
    {
        display: flex;
        gap: 30px;
        align-items: center;

        button
        {
            padding: 15px 35px;
            background-color: #23A6F0;
            border: none;
            border-radius: 10px;
            color: white;
            font-weight: bold;
        }
    }
    .svg
    {
        display: none;
    }
}
header
{
    background-color: #252B42;
    color: white;
    height: 91px;
}







@media(max-width: 530px)
{
    .navbar
    {

        padding: 20px;

        .list
        {
            display: none;
        }
        .log
        {
            display: none;
        }
        .svg
        {
            display: block;
        }
    }
}