*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar
{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    
    .h6
    {
        font-size: 24px;
    }

    .list
    {
        display: flex;
        gap: 30px;
    }
    .log
    {
        display: flex;
        gap: 30px;
        align-items: center;

        button
        {
            padding: 15px 35px;
            background-color: #23A6F0;
            border: none;
            border-radius: 10px;
            color: white;
            font-weight: bold;
        }
    }
    .svg
    {
        display: none;
    }
}
header
{
    background-color: #252B42;
    color: white;
    height: 91px;
}

.herosec
{
    height: 743px;
    background-color: #252B42;
    color: white;
    position: relative;

    .box1
    {
        max-width: 1200px;
        margin: auto;
        padding-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1
        {
            font-size: 58px;
        }
        .left
        {
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            z-index: 2;

            .b1
            {
                padding: 15px 40px;
                border: none;
                border-radius: 37px;
                background-color: #23A6F0;
                color: white;
            }
            .b2
            {
                padding: 15px 40px;
                border: 2px solid;
                border-radius: 37px;
                background-color: #252B42;
                color: white;
            }
            .btnflex
            {
                display: flex;
                gap: 20px;
            }
        }
        img
        {
            z-index: 5;
        }
    }
    .blob
    {
        position: absolute;
        top: -100px;
        left: 80px;
        z-index: 3;
    }
}

.sec2
{
    background-color: #252B42;
    height: 721;
    padding-bottom: 100px;

    .box2
    {
        max-width: 1200px;
        margin: auto;
        color: white;
        padding-top: 200px;

        .listb2
        {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            text-align: center;
        }
        .wrapdiv
        {
            display: flex;
            flex-wrap: wrap;
            margin-left: 50px;
            gap: 20px;
            margin-top: 50px;

            .item
            {
                display: flex;
                align-items: center;
                gap: 20px;
                padding: 30px;
                border: 2px solid;
                border-radius: 5px;
            }
        }
    }
}








@media(max-width: 530px)
{
    .navbar
    {

        padding: 20px;

        .list
        {
            display: none;
        }
        .log
        {
            display: none;
        }
        .svg
        {
            display: block;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    .herosec
    {
        height: 1000px;
        .box1
        {
            flex-direction: column;
            row-gap: 50px;
            text-align: center;

            img
            {
                width: 95%;
            }
            h1
            {
                font-size: 45px;
            }
            .btnflex
            {
                flex-direction: column;
            }

        }

        .blob
        {
            display: none;
        }
    }

    .wrapdiv
    {
        justify-content: start;
        width: 85%;
    }
}