*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar
{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    
    .h6
    {
        font-size: 24px;
    }

    .list
    {
        display: flex;
        gap: 30px;
    }
    .log
    {
        display: flex;
        gap: 30px;
        align-items: center;

        button
        {
            padding: 15px 35px;
            background-color: #23A6F0;
            border: none;
            border-radius: 10px;
            color: white;
            font-weight: bold;
        }
    }
    .svg
    {
        display: none;
    }
}
header
{
    background-color: #252B42;
    color: white;
    height: 91px;
}

.herosec
{
    height: 743px;
    background-color: #252B42;
    color: white;
    position: relative;

    .box1
    {
        max-width: 1200px;
        margin: auto;
        padding-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1
        {
            font-size: 58px;
        }
        .left
        {
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            z-index: 2;

            .b1
            {
                padding: 15px 40px;
                border: none;
                border-radius: 37px;
                background-color: #23A6F0;
                color: white;
            }
            .b2
            {
                padding: 15px 40px;
                border: 2px solid;
                border-radius: 37px;
                background-color: #252B42;
                color: white;
            }
            .btnflex
            {
                display: flex;
                gap: 20px;
            }
        }
        img
        {
            z-index: 5;
        }
    }
    .blob
    {
        position: absolute;
        top: -100px;
        left: 80px;
        z-index: 3;
    }
}

.sec2
{
    background-color: #252B42;
    height: 721;
    padding-bottom: 100px;

    .box2
    {
        max-width: 1200px;
        margin: auto;
        color: white;
        padding-top: 200px;

        .listb2
        {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            text-align: center;
        }
        .wrapdiv
        {
            display: flex;
            flex-wrap: wrap;
            margin-left: 50px;
            gap: 20px;
            margin-top: 50px;

            .item
            {
                display: flex;
                align-items: center;
                gap: 20px;
                padding: 30px;
                border: 2px solid;
                border-radius: 5px;
            }
        }
    }
}


.sec3
{
    background-color: #252B42;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;

    .box3
    {
        max-width: 1200px;
        margin: auto;
        
        .listtop
        {
            text-align: center;
        }

        .dsafed
        {
            background-color: white;
            width: 70%;
            margin: auto;
            padding: 40px 0px;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            align-items: center;
            margin-top: 50px;
            border-radius: 5px;
        }
    }
}

.sec4
{
    background-color: #252B42;
    color: white;
    height: 399px;

    .box4
    {
        max-width: 1200px;
        margin: auto;
        padding-top: 100px;

        .Download
        {
            display: flex;
            margin: auto;
            width: 80%;
            gap: 20px;
            margin-top: 30px;
            
            .c1
            {
                display: flex;
                gap: 10px;
                border: 2px solid;
                padding: 20px;
                width: 210px;
                border-radius: 10px;
            }
        }
    }
}

.sec5
{
    background-color: #252B42;
    padding-top: 100px;
    
    .box5
    {
        max-width: 1200px;
        margin: auto;
        color: white;

        .listb5
        {
            text-align: center;
        }

        .bgsaged
        {
            background-color: white;
            border-radius: 10px;
            height: 243px;
            color: black;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 150px;

            h2
            {
                color: #23A6F0;
                font-weight: bold;
            }

            .dsf
            {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .btndiv
            {
                display: flex;
                flex-direction: column;
                row-gap: 20px;

                button
                {
                    padding: 15px 30px;
                    background-color: #23A6F0;
                    border: none;
                    border-radius: 10px;
                    color: white;
                }
            }
        }

        .fff
        {
            display: flex;
            gap: 20px;
            margin-top: 30px;
        }
    }
}

.sec6
{
        background-color: #252B42;
        padding-top: 300px;
        height: 500px;

        .box6
        {
            max-width: 1200px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;

            div
            {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
            }
        }

        .bgwithform
        {
            max-width: 1200px;
            margin: auto;
            width: 877px;
            height: 610px;
            background-image: url(./ontact-cover.2.png);
            display: flex;
            justify-content: end;
            margin-top: 100px;

            .form
            {
                width: 510px;
                height: 510px;
                color: rgb(0, 0, 0);
                background-color: rgb(255, 255, 255);
                padding: 50px;

                .foorm
                {
                    padding: 30px 0px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;

                    .jj
                    {
                        display: flex;
                        flex-direction: column;
                        row-gap: 15px;

                        input
                        {
                            width: 85%;
                            padding: 20px;
                            background-color: #E6E6E6;
                            border: none;
                            border-radius: 10px;
                        }
                    }
                    button
                    {
                        padding: 15px;
                        background-color: #23A6F0;
                        border: none;
                        border-radius: 10px;
                        color: white;
                        font-size: 18px;
                    }
                }
            }
        }
}

.footer
{
    background-color: #252B42;
    margin-top: 300px;
    height: 338px;
    color: white;

    .box7
    {
        max-width: 1200px;
        margin: auto;
        margin-top: 600px;
        display: flex;
        justify-content: space-between;

        .fd
        {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            margin-top: 80px;
        }
    }
}









@media(max-width: 530px)
{
    .navbar
    {

        padding: 20px;

        .list
        {
            display: none;
        }
        .log
        {
            display: none;
        }
        .svg
        {
            display: block;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    .herosec
    {
        height: 1000px;
        .box1
        {
            flex-direction: column;
            row-gap: 50px;
            text-align: center;

            img
            {
                width: 95%;
            }
            h1
            {
                font-size: 45px;
            }
            .btnflex
            {
                flex-direction: column;
            }

        }

        .blob
        {
            display: none;
        }
    }

    .wrapdiv
    {
        justify-content: start;
        width: 85%;
    }

    .dsafed
    {
        background-color: white;
        margin: auto;
        padding: 40px 10px;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
        margin-top: 50px;
        border-radius: 5px;
    }

    .sec4
    {
        height: 759px;

        .Download
        {
            flex-direction: column;
            

            
            .c1
            {
                width: 277px;
                background-color: white;
                color: black;
                
                img
                {
                    background: linear-gradient(black);
                }
            }
        }
    }

    .sec5
    {
        height: 800px;

        .box5
        {


            .fff
            {
                flex-direction: column;
                align-items: center;

                .bgsaged
                {
                    width: 90%;
                    gap: 10px;

                    .free
                    {
                        padding-left: 20px;
                    }
                }
            }
        }
    }

    .sec6 
    {
        padding-top: 100px;
        height: auto;
        padding-bottom: 50px;
    }

    .sec6 .box6 
    {
        flex-direction: column;
        text-align: center;
        row-gap: 30px;
        padding: 0 15px;
    }

    .sec6 .box6 img 
    {
        width: 100%;
        max-width: 300px;
    }

    .sec6 .box6 h1 
    {
        font-size: 22px;
    }

    .sec6 .box6 p 
    {
        font-size: 14px;
        line-height: 1.5;
    }
    .sec6 .bgwithform 
    {
        width: 100%;
        height: auto;
        margin-top: 50px;
        justify-content: center;
        background-size: cover;
        background-position: center;
        padding: 0px;
    }

    .sec6 .bgwithform .form 
    {
        width: 100%;
        height: auto;
        padding: 0px;
    }

    .sec6 .bgwithform .form h1 
    {
        text-align: center;
        font-size: 22px;
    }

    .sec6 .bgwithform .foorm 
    {
        padding: 15px 0px;
    }

    .sec6 .bgwithform .form .foorm input 
    {
        width: 90%;
        font-size: 14px;
    }

    .sec6 .bgwithform button 
    {
        font-size: 16px;
        padding: 15px;
    }

    .box7
    {
        flex-direction: column;
    }

    .footer
    {
        margin-top: 0px;
        z-index: 10;
        padding: 20px;
        height: 2000px;

        .fd
        {
            margin-top: -500px;
        }
    }
}